
.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.form{
    padding: 10px;
    box-shadow: 5px 5px 10px #888, -5px -5px 10px #888;
    border-radius: 10px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    box-shadow: 5px 5px 10px #888;
    gap:15px;
 
    margin-bottom: 60px;
   
    
}

.form div h1{
    color:blue;
    font-size: larger;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 5px;
    
}

.form_group_input{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.form_group_input input{

    font-family: Arial, sans-serif;
  
  color: #333;
  
  border:none;
  border-bottom: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 400px;

}





.form_group_input input:focus {
    outline: none; 
    border-bottom-color: #007bff; 
    
    background-color: #fff; 
    color: #333; 
    cursor: text; 
  }

  .form_group_input + p{
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: large;
    
  }

  .form_group_input + p span {
    cursor: pointer;
    color:#007bff;

  }

  #info{
    margin-bottom: 15px;

  }

  
  
 